<style>
    table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

</style>

<h1>Display</h1>
{{city_array.length}} Records Found

<table border='1'>
    <tr>
        <th>ID</th>
            <th>City Name</th>
            <th>State Name</th>
          
        <th>Action</th>
    </tr>

{{#each city_array}}
    <tr>
    <td class="counterCell"></td>
    <td>{{city_name}}</td>
    <td>{{_state.state_name}}</td>
   
    <td>
        <a href="/editcity/{{_id}}">Edit</a> |
        <a href="/deletecity/{{_id}}" onclick="return confirm('Are you sure?')">Delete</a>

    </td>
    </tr>
{{/each}}


</table>