<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #center{
            width: 350px;
            height: 350px;
            margin: auto;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="center">
    <div class="d-flex justify-content-center">
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>gender</th>
                <th>Action</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each coustomerDisplay}}
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{otherInfo.address}}</td>
                <td>{{otherInfo.gender}}</td>
            <th class="text-center"><a href="/coustomer/update/{{_id}}" class="btn btn-primary ">Edit</a>
            <th class="text-center"><a href="/coustomer/delete/{{_id}}" class="btn btn-primary ">Delete</a>
            </tr>
            {{/each}}
        </tbody>
       </table>
       </div>
    <a href="/coustomer" class="btn btn-primary">Go To Add coustomer</a>
    </div>
</body>
</html>