<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coustomer</title>
    <link href="/stylesheets/style.css">
    <script src="/javascripts/bootstarp.min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="/javascripts/jquery.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center">
      <form method="POST">
        <h1>Form</h1>
        <input type="text" name="name" class="form-control" value="{{CoustomerId.name}}" placeholder="Enter name "> <br>
        <input type="text" name="email" class="form-control" value="{{CoustomerId.email}}"  placeholder="Enter Email Id"> <br>
        <input type="text" name="address" class="form-control" value="{{CoustomerId.otherInfo.address}}"  placeholder="Enter Address"><br>
        <select class="form-control"value="{{CoustomerId.dotherInfo.gender}}"  name="gender">
            <option value="male" >Male</option>
            <option value="female">Female</option>
        </select> <br>
        <input type="submit" class="btn btn-primary">
        {{message}}
      </form>
    </div>
</body>
</html>