<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        {{#each data}}
                                    <tr>
                                        <td>{{@index}}</td>
                                        <td>{{productname}}</td>
                                        <td>{{productdetails}}</td>
                                        <td>{{productprice}}</td>
                                        <td>{{_subcategory.subcategoryname}}</td>
                                        <td><img height="100" width="100" src="/admin/images/{{img}}"/></td>
                                        {{!-- <td>{{_subcategory._category.categoryname}}</td> --}}
           

                                        <th class="text-center"><a href="/admin/product/edit/{{_id}}"
                                                class="btn btn-primary ">Edit</a>
                                       <a href="/admin/product/delete/{{_id}}"
                                                class="btn btn-danger">Delete</a></th>
                                    </tr>
                                    {{/each}}
</body>
</html>