{{>header}}

{{>sidebar}}
<style>
    #products{
        margin-top: 100px;
        width: 70%;
        margin-left: 250px;
    }
</style>

<div>

   <table id="products" class="table table-bordered table-striped text-center">
     
                                <thead>
                                    <tr>
                                        <th>Index</th>
                                        <th>Product Name</th>
                                        <th>Product Details</th>
                                        <th>Product Price</th>
                                        <th>Sub Category</th>
                                        {{!-- <th>Category</th> --}}
                                        <th>Photo</th>
                                        <th>Action</th>
               
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each product}}
                                    <tr>
                                        <td>{{@index}}</td>
                                        <td>{{productname}}</td>
                                        <td>{{productdetails}}</td>
                                        <td>{{productprice}}</td>
                                        <td>{{_subcategory.subcategoryname}}</td>
                                        <td><img height="100" width="100" src="/admin/images/{{img}}"/></td>
                                        {{!-- <td>{{_subcategory._category.categoryname}}</td> --}}
           

                                        <th class="text-center"><a href="/admin/product/edit/{{_id}}"
                                                class="btn btn-primary ">Edit</a>
                                       <a href="/admin/product/delete/{{_id}}"
                                                class="btn btn-danger">Delete</a></th>
                                    </tr>
                                    {{/each}}

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Index</th>
                                        <th>Product Name</th>
                                        <th>Product Details</th>
                                        <th>Product Price</th>
                                        <th>Sub Category</th>
                                        {{!-- <th>Category</th> --}}
                                        <th>Photo</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </tfoot>
                            </table>


</div>



{{>footer}}