{{>header}}

{{>sidebar}}

<style>
    #products {
        margin-top: 100px;
        width: 70%;
        margin-left: 250px;
    }
</style>

<div>

    <table id="products" class="table table-bordered table-striped text-center">

        <thead>
            <tr>
                <th>Index</th>
                <th>City Name</th>
                <th>state Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each statedb}}
            <tr>
                <td>{{@index}}</td>
                <td>{{cityname}}</td>
                <td>{{_state.statename}}</td>


                <th class="text-center"><a href="/admin/city/edit/{{_id}}" class="btn btn-primary ">Edit</a>
           <a href="/admin/city/delete/{{_id}}" class="btn btn-danger">Delete</a></th>
            </tr>
            {{/each}}

        </tbody>
        <tfoot>
            <tr>
                <th>Index</th>
                <th>City Name</th>
                <th>state Name</th>
                <th>Action</th>

            </tr>
        </tfoot>
    </table>


</div>



{{>footer}}