<style>
    table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

</style>

<h1>Display</h1>
{{state_array.length}} Records Found

<table border='1'>
    <tr>
        <th>ID</th>
            <th>State_name</th>
            <th>Country_name</th>
        <th>Action</th>
    </tr>

{{#each state_array}}
    <tr>
    <td class="counterCell"></td>
    <td>{{state_name}}</td>
    <td>{{_country.c_name}}</td>
    <td>
        <a href="/editstate/{{_id}}">Edit</a> |
        <a href="/deletestate/{{_id}}" onclick="return confirm('Are you sure?')">Delete</a>

    </td>
    </tr>
{{/each}}


</table>